  <div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_1')">
      <div class="pure-u-1-2">
          <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('1_1', 'buttons_2', 'felix_normal')">Hallo, Felix.</button>
      </div>
      <div class="pure-u-1-2">
          <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('1_2', 'buttons_3', 'felix_verwirrt')">Hey Felix. Sorry, aber ich hab ne komische Frage an dich.</button>
      </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_2')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('2_1', 'buttons_4', 'felix_wuetend')">Ich suche nach Emmas Mörder. Hilfst du mir?</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('2_2', 'buttons_6', 'felix_verwirrt')">Äh ich hätte da eine Frage an dich.</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_3')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('2_3', 'buttons_5', 'felix_erstaunt')">Hast du dich, als ihr noch zusammen wart, gut mit Emma vertragen?</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death_1', 'clear', 'felix_wuetend', 'death')">Hast du Emma damals umgebracht?</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_4')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death_2', 'clear', 'felix_wuetend', 'death')">Wer könnte Emma umgebracht haben? Sag es mir!</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('3_1', 'buttons_7', 'felix_traurig')">Sorry, ich will eigentlich kein Salz in deine Wunden streuen.</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_5')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('3_2', 'buttons_8', 'felix_traurig')">Emma und du haben doch Schluss gemacht oder? Warum?</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('3_3', 'buttons_9', 'felix_wuetend')">Du hast sie also getötet, weil sie dir nicht gepasst hat.</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_6')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('4_1', 'clear', 'felix_traurig', 1)">Hast du eine Ahnung wer was mit dem Mord zu tun hatte?</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('3_2', 'buttons_8', 'felix_wuetend')">Emma und du haben doch Schluss gemacht oder? Warum?</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_7')">
    <div class="pure-u-1-1">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('4_1', 'clear', 'felix_traurig', 1)">Hast du eine Ahnung wer was mit dem Mord zu tun hatte?</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_8')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death_3', 'clear', 'felix_wuetend', 'death')">Das heißt also du hattest etwas gegen sie, weil sie es dir nie gesagt hat. Ziemlich verdächtig.</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('4_2', 'buttons_11', 'felix_traurig', 2)">Du hast keine Ahnung warum du mit ihr Schluss gemacht hast?</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_9')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('4_3', 'buttons_10', 'felix_verwirrt')">Entschuldige, das war bisschen übertrieben.</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death_6', 'clear', 'felix_wuetend', 'death')">Gib es zu!</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_10')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('4_2', 'buttons_11', 'felix_traurig', 2)">Ich will wissen ob du mit ihr Schluss gemacht hast.</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death_5', 'buttons_death', 'felix_wuetend', 'death')">Ich weiß es ganz genau, ich hab Beweise.</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_11')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death_6', 'clear', 'felix_wuetend', 'death')">Kein Wunder, dass man mit dir Schluss macht.</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('5_1', 'buttons_12', 'felix_normal')">Oh, sorry für die Anschuldigungen. Ich wollte einfach nur sicher gehen.</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_12')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('4_1', 'clear', 'felix_traurig', 1)">Ich verspreche, nichts zu sagen. Jedoch muss ich noch mehr wissen.</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death_7', 'clear', 'felix_normal')">Ja sorry, wollte nicht stören. Bis morgen.</button>
    </div>
</div>

<img src="images/game/characters/felix/Felix_Normal.png" ng-show="$ctrl.statuscharacter('felix_normal')"
     class="characters images-responsive">
<img src="images/game/characters/felix/Felix_Erstaunt.png" ng-show="$ctrl.statuscharacter('felix_erstaunt')"
     class="characters images-responsive">
<img src="images/game/characters/felix/Felix_Verwirrt.png" ng-show="$ctrl.statuscharacter('felix_verwirrt')"
     class="characters images-responsive">
<img src="images/game/characters/felix/Felix_Wuetend.png" ng-show="$ctrl.statuscharacter('felix_wuetend')"
     class="characters images-responsive">
<img src="images/game/characters/felix/Felix_Traurig.png" ng-show="$ctrl.statuscharacter('felix_traurig')"
     class="characters images-responsive">
<img src="images/game/textbubbles/felix/1_1.png" ng-show="$ctrl.statusbubble('1_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/1_2.png" ng-show="$ctrl.statusbubble('1_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/2_1.png" ng-show="$ctrl.statusbubble('2_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/2_2.png" ng-show="$ctrl.statusbubble('2_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/2_3.png" ng-show="$ctrl.statusbubble('2_3')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/3_1.png" ng-show="$ctrl.statusbubble('3_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/3_2.png" ng-show="$ctrl.statusbubble('3_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/3_3.png" ng-show="$ctrl.statusbubble('3_3')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/4_1.png" ng-show="$ctrl.statusbubble('4_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/4_2.png" ng-show="$ctrl.statusbubble('4_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/4_3.png" ng-show="$ctrl.statusbubble('4_3')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/5_1.png" ng-show="$ctrl.statusbubble('5_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/death_1.png" ng-show="$ctrl.statusbubble('death_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/death_2.png" ng-show="$ctrl.statusbubble('death_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/death_3.png" ng-show="$ctrl.statusbubble('death_3')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/death_4.png" ng-show="$ctrl.statusbubble('death_4')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/death_5.png" ng-show="$ctrl.statusbubble('death_5')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/death_6.png" ng-show="$ctrl.statusbubble('death_6')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/felix/death_7.png" ng-show="$ctrl.statusbubble('death_7')"
     class="sprechblase images-responsive">

