<div class="pure-g>" style="text-align: center" id="screenicon">
    <div class="pure-u-11-24">
        <img src="images/icons/Felix.png" ui-sref="FelixKontakt" class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24">
        <img src="images/icons/Vanessa.png" ui-sref="VanessaKontakt" class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24">
        <img src="images/icons/Lena.png" ui-sref="LenaKontakt"class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24">
        <img src="images/icons/Mathe.png" ui-sref="MatheKontakt" class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24">
        <img src="images/icons/Klassenvorstand.png" ui-sref="KlassenvorstandKontakt" class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24">
        <img src="images/icons/Chemie.png" ui-sref="ChemieKontakt" class="pure-img-responsive icon">
    </div>
</div>