<div class="pure-g>" style="text-align: center" id="screenicon">
    <div class="pure-u-11-24">
        <img src="images/icons/Felix.png" onclick="GoIntoContact(); Felix()" class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24">
        <img src="images/icons/Vanessa.png" onclick="GoIntoContact()"  class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24">
        <img src="images/icons/Lena.png" onclick="GoIntoContact()"  class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24">
        <img src="images/icons/Mathe.png" onclick="GoIntoContact()"  class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24">
        <img src="images/icons/Klassenvorstand.png" onclick="GoIntoContact()"  class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24">
        <img src="images/icons/Chemie.png" onclick="GoIntoContact()"  class="pure-img-responsive icon">
    </div>
</div>