<div ng-show="$ctrl.button">
    <a class="btn clickit" ng-click="$ctrl.pressed(); $ctrl.clicksound();">Beschuldigen</a>
</div>
<div class="pure-g" ng-show="$ctrl.icons" style="padding-bottom: 2vw;text-align: center; padding-left: 2vw; padding-right: 2vw">
    <div class="pure-u-1">
        <h1 class="überschrift">Wer hat Emma getötet?</h1>
    </div>
    <div class="pure-u-1-6">
        <img src="images/icons/Felix.png" ng-click="$ctrl.beschuldige('Felix')" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-6">
        <img src="images/icons/Vanessa.png" ng-click="$ctrl.beschuldige('Vanessa')" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-6">
        <img src="images/icons/Lena.png" ng-click="$ctrl.beschuldige('Lena')" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-6">
        <img src="images/icons/Mathe.png" ng-click="$ctrl.beschuldige('Der Mathelehrer')" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-6">
        <img src="images/icons/Klassenvorstand.png" ng-click="$ctrl.beschuldige('Der Klassenvorstand')" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-6">
        <img src="images/icons/Chemie.png" ng-click="$ctrl.beschuldige('Der Chemielehrer')" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1">
        <img src="images/icons/close.png" ng-click="$ctrl.undo();$ctrl.clicksound();" class="pure-img-responsive clickit" style="width: 4vw">
    </div>
</div>

<style>
.überschrift{
    text-align: center;
    letter-spacing: normal;
}
</style>