<div ng-show="$ctrl.button">
    <a class="btn clickit" ng-click="$ctrl.pressed(); $ctrl.clicksound();">Jemanden beschuldigen</a>
</div>
<div class="pure-g" ng-show="$ctrl.icons" style="padding-bottom: 2vw;text-align: center; padding-left: 2vw; padding-right: 2vw">
    <div class="pure-u-1">
        <h1 class="überschrift">Wer hat Emma getötet?</h1>
    </div>
    <div class="pure-u-1-6 hint--bottom hint--large hint--rounded hint--no-shadow hint--bounce hint--" data-hint="Felix Fuhrmann">
        <img src="images/icons/Felix.png" ng-click="$ctrl.beschuldigefelix()" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-6 hint--bottom hint--large hint--rounded hint--no-shadow hint--bounce hint--" data-hint="Vanessa Vogel">
        <img src="images/icons/Vanessa.png" ng-click="$ctrl.beschuldigevanessa()" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-6 hint--bottom hint--large hint--rounded hint--no-shadow hint--bounce hint--" data-hint="Lena Lang">
        <img src="images/icons/Lena.png" ng-click="$ctrl.beschuldigelena()" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-6 hint--bottom hint--large hint--rounded hint--no-shadow hint--bounce hint--" data-hint="Herr Ebner">
        <img src="images/icons/Mathe.png" ng-click="$ctrl.beschuldigemathelehrer()" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-6 hint--bottom hint--large hint--rounded hint--no-shadow hint--bounce hint--" data-hint="Klassenvorstand">
        <img src="images/icons/Klassenvorstand.png" ng-click="$ctrl.beschuldigeklassenvorstand()" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-6 hint--bottom hint--large hint--rounded hint--no-shadow hint--bounce hint--" data-hint="Chemielehrer">
        <img src="images/icons/Chemie.png" ng-click="$ctrl.beschuldigechemie()" class="pure-img-responsive icon clickit">
    </div>
    <div class="pure-u-1-1">
        <img src="images/icons/close.png" ng-click="$ctrl.undo();$ctrl.clicksound();" class="pure-img-responsive clickit" style="width: 4vw">
    </div>
</div>

<style>
.überschrift{
    text-align: center;
    letter-spacing: normal;
}
</style>