
<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_1')">
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('1_1', 'buttons_2')">
        <p class="button-question">Hallo Herr Professor, wie war Ihr Tag heute?<p>
    </div>
    <div class="pure-u-1-3 button-div">
        <p class="button-question">Würden Sie mir bitte verraten was Sie zum Todeszeitpunkt von Emma Engels gemacht haben?<p>
    </div>
    <div class="pure-u-1-3 button-div">
        <p class="button-question">Sie haben geholfen Emma Engels zu vergiften. Geben Sie es zu.<p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_2')">
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('2_1', 'clear')">
        <p class="button-question">Wie wird eigentlich Blausäure hergestellt?<p>
    </div>
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('2_2', 'clear')">
        <p class="button-question">Ich hätte eine Frage zu dem Tag als Emma gestorben ist<p>
    </div>

</div>

<img src="images/game/characters/chemie/chemie_normal.png"  ng-show="$ctrl.statuscharacter('chemie_normal')" class="characters">
<img src="images/game/textbubbles/chemie/1_1.png"  ng-show="$ctrl.statusbubble('1_1')" class="sprechblase">
<img src="images/game/textbubbles/chemie/2_2.png"  ng-show="$ctrl.statusbubble('2_2')" class="sprechblase">