<div class="pure-u-12-24">
    <img src="images/icons/ehrlich.png" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
<div class="pure-u-12-24">
    <img src="images/icons/reizbar.png" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
"<div class="pure-u-8-24">
    hints[0]
    </div>
<div class="pure-u-8-24">
    hints[1]
    </div>"
<div class="pure-u-8-24">
    hints[2]
    </div>
<div class="pure-u-11-24">
    <img src="images/icons/Chat.svg" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
<div class="pure-u-11-24">
    <img src="images/icons/Map.svg" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>