<img src="images/game/backgrounds/default.png" ng-show="$ctrl.getstatus('default')">
<img src="images/game/backgrounds/chemielabor.png" ng-show="$ctrl.getstatus('chemie')">
<img src="images/game/backgrounds/sportplatz.png" ng-show="$ctrl.getstatus('sportplatz')">
<img src="images/game/backgrounds/klassenzimmer1.png" ng-show="$ctrl.getstatus('klassenzimmer1')">
<img src="images/game/backgrounds/klassenzimmer2.png" ng-show="$ctrl.getstatus('klassenzimmer2')">
<img src="images/game/backgrounds/bibliothek.png" ng-show="$ctrl.getstatus('bibliothek')">

