<police></police>
<vanessagame></vanessagame>
<lenagame></lenagame>
<felixgame></felixgame>
<mathegame></mathegame>
<klassenvorstandgame></klassenvorstandgame>
<chemiegame></chemiegame>

<img src="images/game/backgrounds/default.png" class="background images-responsive" ng-show="$ctrl.statusbackground('default')">
<img src="images/game/backgrounds/chemielabor.png" class="background images-responsive" ng-show="$ctrl.statusbackground('chemie')">
<img src="images/game/backgrounds/sportplatz.png" class="background images-responsive" ng-show="$ctrl.statusbackground('sportplatz')">
<img src="images/game/backgrounds/klassenzimmer1.png" class="background images-responsive" ng-show="$ctrl.statusbackground('klassenzimmer1')">
<img src="images/game/backgrounds/klassenzimmer2.png" class="background images-responsive" ng-show="$ctrl.statusbackground('klassenzimmer2')">
<img src="images/game/backgrounds/bibliothek.png" class="background images-responsive" ng-show="$ctrl.statusbackground('bibliothek')">
<img src="images/game/backgrounds/police/verhorraum_chemie.png" class="background images-responsive" ng-show="$ctrl.statusbackground('verhorraum_chemie')">
<img src="images/game/backgrounds/police/verhorraum_felix.png" class="background images-responsive" ng-show="$ctrl.statusbackground('verhorraum_felix')">
<img src="images/game/backgrounds/police/verhorraum_klassenvorstand.png" class="background images-responsive" ng-show="$ctrl.statusbackground('verhorraum_klassenvorstand')">
<img src="images/game/backgrounds/police/verhorraum_mathelehrer.png" class="background images-responsive" ng-show="$ctrl.statusbackground('verhorraum_mathelehrer')">
<img src="images/game/backgrounds/police/verhorraum_vanessa.png" class="background images-responsive" ng-show="$ctrl.statusbackground('verhorraum_vanessa')">
<img src="images/game/backgrounds/police/verhorraum_lena.png" class="background images-responsive" ng-show="$ctrl.statusbackground('verhorraum_lena')">


