<felixgame></felixgame>
<mathegame></mathegame>
<klassenvorstandgame></klassenvorstandgame>
<chemiegame></chemiegame>

<img src="images/game/backgrounds/default.png" class="background images-responsive" ng-show="$ctrl.statusbackground('default')">
<img src="images/game/backgrounds/chemielabor.png" class="background images-responsive" ng-show="$ctrl.statusbackground('chemie')">
<img src="images/game/backgrounds/sportplatz.png" class="background images-responsive" ng-show="$ctrl.statusbackground('sportplatz')">
<img src="images/game/backgrounds/klassenzimmer1.png" class="background images-responsive" ng-show="$ctrl.statusbackground('klassenzimmer1')">
<img src="images/game/backgrounds/klassenzimmer2.png" class="background images-responsive" ng-show="$ctrl.statusbackground('klassenzimmer2')">
<img src="images/game/backgrounds/bibliothek.png" class="background images-responsive" ng-show="$ctrl.statusbackground('bibliothek')">


