
<div class="container">
    <img src="images/icons/Klassenvorstand.png" alt="Avatar" style="width:100%;">
    <p>Bitte schreibe mir mit wem du in einem Zimmer sein willst, während der Sprachreise.</p>
    <span class="time-right">14:00</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Ich würde gerne mit Lena in einem Zimmer sein.</p>
    <span class="time-left">14:21</span>
</div>

<div class="container">
    <img src="images/icons/Klassenvorstand.png" alt="Avatar" style="width:100%;">
    <p>Gut, sie hat dasselbe gesagt.</p>
    <span class="time-right">14:30</span>
</div>

<div class="container">
    <img src="images/icons/Klassenvorstand.png" alt="Avatar" style="width:100%;">
    <p>Ich habe einige Beschwerden gegenüber dem Mathelehrer bekommen, der Stoff sei zu schwer. Ich frage alle Schüler und Schülerinnen ob sie derselben Meinung sind.</p>
    <span class="time-right">11:02</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Nein, ich hatte bis jetzt keine Probleme mit dem Stoff.</p>
    <span class="time-left">11:05</span>
</div>

<div class="container">
    <img src="images/icons/Klassenvorstand.png" alt="Avatar" style="width:100%;">
    <p>Ok gut zu wissen, aber du bist ja sowieso ein Naturtalent in Mathe.</p>
    <span class="time-right">14:30</span>
</div>