<img src="images/game/characters/klassenvorstand/klassenvorstand_normal.png"  ng-show="$ctrl.statuscharacter('klassenvorstand_normal')" class="characters images-responsive">
<img src="images/game/characters/klassenvorstand/klassenvorstand_verwirrt.png"  ng-show="$ctrl.statuscharacter('klassenvorstand_verwirrt')" class="characters images-responsive">
<img src="images/game/characters/klassenvorstand/klassenvorstand_wuetend.png"  ng-show="$ctrl.statuscharacter('klassenvorstand_wuetend')" class="characters images-responsive">
<img src="images/game/characters/klassenvorstand/klassenvorstand_gluecklich.png"  ng-show="$ctrl.statuscharacter('klassenvorstand_gluecklich')" class="characters images-responsive">
<img src="images/game/characters/klassenvorstand/klassenvorstand_traurig.png"  ng-show="$ctrl.statuscharacter('klassenvorstand_traurig')" class="characters images-responsive">
<img src="images/game/textbubbles/klassenvorstand/1_1.png"  ng-show="$ctrl.statusbubble('1_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/klassenvorstand/1_2.png"  ng-show="$ctrl.statusbubble('1_2')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/klassenvorstand/2_1.png"  ng-show="$ctrl.statusbubble('2_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/klassenvorstand/3_1.png"  ng-show="$ctrl.statusbubble('3_1')" class="sprechblase images-responsive">
