<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Hey, 14 Uhr bei dir? Muss mit dir über Felix reden.</p>
    <span class="time-left">12:56</span>
</div>

<div class="container">
    <img src="images/icons/Lena.png" alt="Avatar" style="width:100%;">
    <p>Ja klar, was ist denn los?</p>
    <span class="time-right">13:02</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Sag ich dir dann.</p>
    <span class="time-left">13:05</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Hey, hast du die Lösungen für den Arbeitsauftrag über Blausäure?</p>
    <span class="time-left">17:05</span>
</div>

<div class="container">
    <img src="images/icons/Lena.png" alt="Avatar" style="width:100%;">
    <p>Ähm, ja aber ändere die Lösungen ein bisschen, damit es nicht so offensichtlich ist.</p>
    <span class="time-right">18:02</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Ja mach ich, danke du rettest echt meine Note. &#128536;</p>
    <span class="time-left">18:07</span>
</div>

<div class="container">
    <img src="images/icons/Lena.png" alt="Avatar" style="width:100%;">
    <p>Hey, wie wäre es mit einem Filmeabend heute? &#128515;</p>
    <span class="time-right">15:30</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Klingt gut, aber kann leider nicht. &#128532;</p>
    <span class="time-left">15:32</span>
</div>

<div class="container">
    <img src="images/icons/Lena.png" alt="Avatar" style="width:100%;">
    <p>Wieso nicht?</p>
    <span class="time-right">15:33</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Muss "für Mathe lernen" &#128521;</p>
    <span class="time-left">15:34</span>
</div>

<div class="container">
    <img src="images/icons/Lena.png" alt="Avatar" style="width:100%;">
    <p>Viel Spaß.</p>
    <span class="time-right">19:02</span>
</div>