<div class="pure-g">
    <div class="pure-u-9-24 iconcontact">
        <img src="images/icons/Lena.png" style='width: 70%; height: auto' class="pure-img-responsive icon kontakticon">
    </div>

    <div class="pure-u-1-24 textcontact">
        <h1>Lena Lang</h1>
    </div>
</div>

<div class="pure-g">
    <br>
    <div class="pure-u-12-24 iconcontact">
        <h3 class="eigenschafthead">Eigenschaften:</h3>
        <br>
    </div>
    <div class="pure-u-24-24 iconcontact">
        <h3 class="eigenschafttext"> - Eigenschaft 1</h3>
    </div>
    <div class="pure-u-24-24 iconcontact">
        <h3 class="eigenschafttext"> - Eigenschaft 2</h3>
    </div>
    <div class="pure-u-24-24 iconcontact">
        <h3 class="eigenschafttext"> - Eigenschaft 3</h3>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-24-24">
        <br>
    </div>
</div>
<div class="pure-g hints" style="text-align: center">
    <div class="pure-u-8-24">
        <img src="images/icons/hint_closed.png" ng-hide="ctrl.hintlena[0]" style='width: 70%; height: auto' class="pure-img-responsive buzz-out-on-hover">
        <img src="images/icons/hint_opne.png" ng-show="ctrl.hintlena[0]" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
    <div class="pure-u-8-24">
        <img src="images/icons/hint_closed.png" ng-hide="ctrl.hintlena[1]" style='width: 70%; height: auto' class="pure-img-responsive buzz-out-on-hover">
        <img src="images/icons/hint_open.png"  ng-show="ctrl.hintlena[1]" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
    <div class="pure-u-8-24">
        <img src="images/icons/hint_closed.png" ng-hide="ctrl.hintlena[2]" style='width: 70%; height: auto' class="pure-img-responsive buzz-out-on-hover">
        <img src="images/icons/open.png" ng-show="ctrl.hintlena[2]" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
</div>


<br>
<div style="text-align: center">
    <div class="pure-u-11-24">
        <img src="images/icons/Chat.svg" ui-sref="LenaChat" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24" ng-click="$ctrl.gametrigger()">
        <img src="images/icons/Map.svg" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
</div>