<div class="pure-g">
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=1" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=1" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=2" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=2" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=3" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=3" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=4" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=4" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=5" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=5" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=6" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=6" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">

    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(1)">
        <img src="images/icons/Lockscreen/eins.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(2)">
        <img src="images/icons/Lockscreen/zwei.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(3)">
        <img src="images/icons/Lockscreen/drei.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">

    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(4)">
        <img src="images/icons/Lockscreen/vier.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(5)">
        <img src="images/icons/Lockscreen/fuenf.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(6)">
        <img src="images/icons/Lockscreen/sechs.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">

    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(7)">
        <img src="images/icons/Lockscreen/sieben.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(8)">
        <img src="images/icons/Lockscreen/acht.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(9)">
        <img src="images/icons/Lockscreen/neun.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">
    <div class="pure-u-8-24 lockbuttondiv" style="margin-top: 5%">
        <img ng-click="$ctrl.clear()" class="cleartext" src="images/icons/delete.svg" style="width: 40%">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(0)">
        <img src="images/icons/Lockscreen/null.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" style="margin-top: 7%">
        <img ng-click="$ctrl.clearoneletter()" class="cleartext" src="images/icons/back.svg" style="width: 40%">
    </div>
</div>