<div class="pure-g">

    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/pw_eingeben.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/pw_eingeben.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/pw_eingeben.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/pw_eingeben.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/pw_eingeben.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/pw_eingeben.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">

    <div class="pure-u-8-24 lockbuttondiv">
        <img src="images/icons/eins.png" ng-click="$ctrl.zahleingegeben(1)" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv">
        <img src="images/icons/zwei.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv">
        <img src="images/icons/drei.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">

    <div class="pure-u-8-24 lockbuttondiv">
        <img src="images/icons/vier.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv">
        <img src="images/icons/fuenf.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv">
        <img src="images/icons/sechs.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">

    <div class="pure-u-8-24 lockbuttondiv">
        <img src="images/icons/sieben.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv">
        <img src="images/icons/acht.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv">
        <img src="images/icons/neun.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">

    <div class="pure-u-8-24 lockbuttondiv">
    </div>
    <div class="pure-u-8-24 lockbuttondiv">
        <img src="images/icons/null.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv">
    </div>
</div>


