<div class="pure-g">
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=1" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=1" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=2" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=2" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=3" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=3" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=4" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=4" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=5" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=5" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-4-24 lockbuttondiv">
        <img src="images/icons/Lockscreen/pw_eingeben.png" ng-show="$ctrl.aktpasswort.length>=6" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
        <img src="images/icons/Lockscreen/pw_circle.png" ng-hide="$ctrl.aktpasswort.length>=6" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">

    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(1)" id="handy-eins">
        <img src="images/icons/Lockscreen/eins.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(2)" id="handy-zwei">
        <img src="images/icons/Lockscreen/zwei.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(3)" id="handy-drei">
        <img src="images/icons/Lockscreen/drei.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">

    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(4)" id="handy-vier">
        <img src="images/icons/Lockscreen/vier.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(5)" id="handy-fuenf">
        <img src="images/icons/Lockscreen/fuenf.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(6)" id="handy-sechs">
        <img src="images/icons/Lockscreen/sechs.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">

    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(7)" id="handy-sieben">
        <img src="images/icons/Lockscreen/sieben.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(8)" id="handy-acht">
        <img src="images/icons/Lockscreen/acht.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(9)" id="handy-neun">
        <img src="images/icons/Lockscreen/neun.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
</div>


<div class="pure-g">
    <div class="pure-u-8-24 lockbuttondiv" style="margin-top: 5%">
        <img ng-click="$ctrl.clear()" class="cleartext" src="images/icons/delete.svg" style="width: 40%">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" ng-click="$ctrl.zahleingegeben(0)"id="handy-null" >
        <img src="images/icons/Lockscreen/null.png" style='width: 70%; height: auto' class="pure-img-responsive lockbutton">
    </div>
    <div class="pure-u-8-24 lockbuttondiv" style="margin-top: 5%">
        <img ng-click="$ctrl.clearoneletter()" class="cleartext" src="images/icons/Back.png" style="width: 40%">
    </div>
</div>