<div class="container">
    <img src="images/icons/Vanessa.png" alt="Avatar" style="width:100%;">
    <p>Hey, die Mathe-SA hatte nur zwei Einser und ich wollte fragen ob du die zweite Eins bist.</p>
    <span class="time-right">14:00</span>
</div>

<div class="container">
    <img src="images/icons/Vanessa.png" alt="Avatar" style="width:100%;">
    <p>Ich bin natürlich die andere Person mit der Eins.</p>
    <span class="time-right">14:02</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Ähm, wieso interessiert dich das denn?</p>
    <span class="time-left">14:09</span>
</div>

<div class="container">
    <img src="images/icons/Vanessa.png" alt="Avatar" style="width:100%;">
    <p>Nur so, hast du jetzt eine Eins oder nicht.</p>
    <span class="time-right">14:12</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Ja hab ich, willst du dich jetzt beschweren gehen, dass es ein Fehler sein muss, weil ich natürlich nicht besser sein kann als du?</p>
    <span class="time-left">14:15</span>
</div>

<div class="container">
    <img src="images/icons/Vanessa.png" alt="Avatar" style="width:100%;">
    <p>Nein...hat beim letzten Mal auch nicht funktioniert. &#128530;</p>
    <span class="time-right">14:16</span>
</div>

<div class="container">
    <img src="images/icons/Vanessa.png" alt="Avatar" style="width:100%;">
    <p>Ich hab gehört, dass Felix mit dir Schluss gemacht hat &#128514;. Verständlich, ich wusste nie was er an dir mochte.</p>
    <span class="time-right">18:16</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Hast du eigentlich nichts Besseres zu tun, rede mit jemand anderen über mich. Deine Meinung interessiert mich nicht.</p>
    <span class="time-left">18:20</span>
</div>

<div class="container">
    <img src="images/icons/Vanessa.png" alt="Avatar" style="width:100%;">
    <p>Tu ich eh &#128517;</p>
    <span class="time-right">18:26</span>
</div>