

<!-- Ab hier beginnt Vanessa 1 -->

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_1')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('1_1', 'buttons_2', 'vanessa_normal')">
        <button class="bttn-fill bttn-md bttn-primary style">Hey Vanessa, wie läuft Mathe bei dir?
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('1_2', 'buttons_4', 'vanessa_nachdenklich')">
        <button class="bttn-fill bttn-md bttn-primary style">Vanessa, kann ich dir eine wichtige Frage stellen?
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_2')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('2_1', 'buttons_3', 'vanessa_nachdenklich')">
        <button class="bttn-fill bttn-md bttn-primary style">Ja, ich frage mich, wie andere Schüler eine Eins bei ihm haben.
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('2_2', 'clear', 'vanessa_gluecklich')">
        <button class="bttn-fill bttn-md bttn-primary style">Letztendlich muss man einfach mehr Mühe reinstecken, dann würde es auch bei dir funktionieren.
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_3')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('3_1', 'buttons_7', 'vanessa_nachdenklich', 1)">
        <button class="bttn-fill bttn-md bttn-primary style">Emma?
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('3_2', 'clear', 'vanessa_gluecklich')">
        <button class="bttn-fill bttn-md bttn-primary style">Nein, ich glaube sie haben es echt verdient.
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_4')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('death_1', 'buttons_death' , 'vanessa_wuetend', 'death')">
        <button class="bttn-fill bttn-md bttn-primary style">Wieso hast du es getan? Emma musste doch nicht sterben!
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('2_3', 'buttons_5', 'vanessa_nachdenklich')">
        <button class="bttn-fill bttn-md bttn-primary style">Ich weiß nicht warum, aber ich denke, dass Emma ermordet wurde.
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_5')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('3_3', 'buttons_6' , 'vanessa_wuetend')">
        <button class="bttn-fill bttn-md bttn-primary style">Du hast sie nie wirklich gemocht. Natürlich frage ich dich!
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('3_4', 'clear', 'vanessa_nachdenklich')">
        <button class="bttn-fill bttn-md bttn-primary style">Nein. Du hast sie nie gemocht und dementsprechen einen schlechten Ruf bekommen. Weißt du etwas?
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_6')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('death_2', 'buttons_death' , 'vanessa_wuetend', 'death')">
        <button class="bttn-fill bttn-md bttn-primary style">Ja! Ich habe Beweise.
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('3_4', 'clear', 'vanessa_nachdenklich')">
        <button class="bttn-fill bttn-md bttn-primary style">Nein. Du hast sie nie gemocht und dementsprechen einen schlechten Ruf bekommen. Weißt du etwas?
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_7')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('4_1', 'buttons_8' , 'vanessa_gluecklich')">
        <button class="bttn-fill bttn-md bttn-primary style">Ich habe gehört du hast jetzt auch eine Eins.
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('4_2', 'buttons_9', 'vanessa_gluecklich')">
        <button class="bttn-fill bttn-md bttn-primary style">Kann ich dir vielleicht noch eine Frage stellen?
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_8')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('death_5', 'buttons_death' , 'vanessa_wuetend', 'death')">
        <button class="bttn-fill bttn-md bttn-primary style">Lena? Wieso hat sie etwas mit dir zu tun? Steckt ihr unter einer Decke?
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('5_1', 'buttons_10', 'vanessa_nachdenklich')">
        <button class="bttn-fill bttn-md bttn-primary style">War sie nicht Emmas beste Freundin?
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_9')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('death_4', 'buttons_death' , 'vanessa_wuetend', 'death')">
        <button class="bttn-fill bttn-md bttn-primary style">Hattest du etwas mit dem Mord zu tun? Sag es mir!
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('4_3', 'buttons_8', 'vanessa_normal', 2)">
        <button class="bttn-fill bttn-md bttn-primary style">Ich habe dir ja gesagt, dass sie wahrscheinlich ermordet wurde. Weißt du etwas darüber?
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_10')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('6_1', 'buttons_11' , 'vanessa_gluecklich', 3)">
        <button class="bttn-fill bttn-md bttn-primary style">Das heißt?
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('death_6', 'buttons_death', 'vanessa_wuetend', 'death')">
        <button class="bttn-fill bttn-md bttn-primary style">Sie würde nie mit dir reden. Lüg nicht!
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_11')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('death_7', 'buttons_death' , 'vanessa_wuetend', 'death')">
        <button class="bttn-fill bttn-md bttn-primary style">Bist du dir sicher, dass sie auch gelästert hat?
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('7_1', 'buttons_12', 'vanessa_normal')">
        <button class="bttn-fill bttn-md bttn-primary style">Und worüber habt ihr geredet?
        </button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_12')">
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('death_8', 'buttons_death' , 'vanessa_wuetend', 'death')">
        <button class="bttn-fill bttn-md bttn-primary style">Oh. Sagst du die Wahrheit? Ich habe euch noch nie zusammen gesehen! Lüg nicht!
        </button>
    </div>
    <div class="pure-u-1-2 " ng-click="$ctrl.answerpressed('8_1', 'clear', 'vanessa_nachdenklich', 'death')">
        <button class="bttn-fill bttn-md bttn-primary style">Ich sehe Felix eigentlich nur selten in der Schule
        </button>
    </div>
</div>



<!--Face expressions -->
<img src="images/game/characters/vanessa/vanessa_normal.png" ng-show="$ctrl.statuscharacter('vanessa_normal')" class="characters images-responsive">
<img src="images/game/characters/vanessa/vanessa_gluecklich.png" ng-show="$ctrl.statuscharacter('vanessa_gluecklich')" class="characters images-responsive">
<img src="images/game/characters/vanessa/vanessa_wuetend.png" ng-show="$ctrl.statuscharacter('vanessa_wuetend')" class="characters images-responsive">
<img src="images/game/characters/vanessa/vanessa_nachdenklich.png" ng-show="$ctrl.statuscharacter('vanessa_nachdenklich')" class="characters images-responsive">

<!-- Sprechblasen -->
<img src="images/game/textbubbles/vanessa/1_1.png" ng-show="$ctrl.statusbubble('1_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/1_2.png" ng-show="$ctrl.statusbubble('1_2')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/2_1.png" ng-show="$ctrl.statusbubble('2_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/2_2.png" ng-show="$ctrl.statusbubble('2_2')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/2_3.png" ng-show="$ctrl.statusbubble('2_3')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/3_1.png" ng-show="$ctrl.statusbubble('3_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/3_1.png" ng-show="$ctrl.statusbubble('3_2')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/3_3.png" ng-show="$ctrl.statusbubble('3_3')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/3_4.png" ng-show="$ctrl.statusbubble('3_4')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/4_1.png" ng-show="$ctrl.statusbubble('4_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/4_2.png" ng-show="$ctrl.statusbubble('4_2')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/4_3.png" ng-show="$ctrl.statusbubble('4_3')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/5_1.png" ng-show="$ctrl.statusbubble('5_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/6_1.png" ng-show="$ctrl.statusbubble('6_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/7_1.png" ng-show="$ctrl.statusbubble('7_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/8_1.png" ng-show="$ctrl.statusbubble('8_1')" class="sprechblase images-responsive">

<!-- Death Blasen -->
<img src="images/game/textbubbles/vanessa/death_1.png" ng-show="$ctrl.statusbubble('death_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/death_2.png" ng-show="$ctrl.statusbubble('death_2')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/death_3.png" ng-show="$ctrl.statusbubble('death_3')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/death_4.png" ng-show="$ctrl.statusbubble('death_4')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/death_5.png" ng-show="$ctrl.statusbubble('death_5')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/death_6.png" ng-show="$ctrl.statusbubble('death_6')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/death_7.png" ng-show="$ctrl.statusbubble('death_7')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/vanessa/death_8.png" ng-show="$ctrl.statusbubble('death_8')" class="sprechblase images-responsive">