<img src="images/game/characters/police/police_gluecklich.png" ng-show="$ctrl.statuscharacter('police_gluecklich')" class="characters images-responsive">
<img src="images/game/characters/police/police_wuetend.png" ng-show="$ctrl.statuscharacter('police_wuetend')" class="characters images-responsive">


<img src="images/game/textbubbles/police/chemie_ende.png" ng-show="$ctrl.statusbubble('chemie_ende')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/police/felix_ende.png" ng-show="$ctrl.statusbubble('felix_ende')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/police/lena_ende.png" ng-show="$ctrl.statusbubble('lena_ende')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/police/mathe_ende.png" ng-show="$ctrl.statusbubble('mathe_ende')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/police/vanessa_ende.png" ng-show="$ctrl.statusbubble('vanessa_ende')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/police/klassenvostand_ende.png" ng-show="$ctrl.statusbubble('klassenvorstand_ende')" class="sprechblase images-responsive">