body{
    overflow: hidden;
}

.images-responsive{
    max-width: 60vmax;
    height: auto;
    padding-top: 5px;
}

.gamebuttons{
    width: 60vmax;
    height: auto;
    position: static;
    text-align: center;

}

.button-div {
    padding-right: 1%;
    overflow: auto;
    overflow-scrolling: auto;
    border-collapse: separate;
    height: 100%;
}

.button-question {
    font-size: large;
    background-color: forestgreen;
    color: white;
   padding: 4px;
}









.characters{
    position: absolute;
}

.sprechblase{
    position: absolute;
}

.background{
    padding-bottom: 4%;
}


.Eigenschaft{
    color: white;
    text-align: left;
    margin-left: 20px;
}

.hintwrong{
    transition: transform 0.2s;
}

.hintwrong:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

body{
    background: white;
    position: static;
    overflow: auto;
    /*padding-top: 2.5%;*/
}

.clickit{
    cursor: pointer;
}

/*
BUTTON
 */



.btn {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px 45px;
    color: #fff;
    background: #880000;
    transition: all 0.35s ease;
}
.btn:hover {
    background: #aa0000;
    box-shadow: 0px 9px 20px 3px rgba(0, 0, 0, 0.12);
}
.btn:active {
    box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.14);
}



/*
    Kontakt design Page
 */

.textcontact{
    text-align: left;
    color: white;
}

.iconcontact{
    text-align: center;
    vertical-align: center;
    padding-top: 0.3vw;
}

.eigenschafthead{
color: white;
}

.eigenschafttext{
color: white;
    text-align: left;
}


@-webkit-keyframes buzz-out-on-hover {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
@keyframes buzz-out-on-hover {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
.buzz-out-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
    -webkit-animation-name: buzz-out-on-hover;
    animation-name: buzz-out-on-hover;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


