
.sprd-header__title{
    display: none;
}

.sprd-basket-indicator__icon{
    width: 2em;
    height: 1.7em;
    vertical-align: middle;
}

#sprd-basket-button_2{

}
/**
Ausgeblendete Inhalte:
 */
#sprd-basket-button,
#sprd-basket-count,
#sprd-navigation{
    display: none;
}

#sprd-social-bar__about-link{
    display: none;
 }


.sprd-basket-notification{
    left: 0;
}
.sprd-promo-header__center{
    padding-top: 1.5%;
}
.sprd-promo__toggle__text{
    display: none;
}

.sprd-promo-caret{
    display: none;
}


