<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_1')">
    <div class="pure-u-1-3">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('1_1', 'buttons_2', 'klassenvorstand_verwirrt')">Hallo Herr Professor, ich habe eine Frage an Sie.</button>
    </div>
    <div class="pure-u-1-3">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('1_2', 'buttons_3', 'klassenvorstand_gluecklich')">Hallo Herr Professor, Wie geht es Ihnen heute?</button>
    </div>
    <div class="pure-u-1-3">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death', 'clear', 'klassenvorstand_wuetend', 'death')">Sie haben Emma getötet!</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_2')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death', 'clear', 'klassenvorstand_wuetend', 'death')">Hatten Sie eine Beziehung mit Emma? Das ist ja ekelhaft!</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('3_1', 'clear', 'klassenvorstand_traurig', 1)">Ich wollte fragen wo Sie am Tag von Emmas Tot waren.</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_3')">
    <div class="pure-u-1-3">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('1_1', 'buttons_2', 'klassenvorstand_verwirrt')">Tut mir leid, aber ich habe eine sehr wichtige Frage an Sie.</button>
    </div>
    <div class="pure-u-1-3">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death', 'clear', 'klassenvorstand_wuetend', 'death')">Merkwürdig. Auf mich wirken Sie nicht so als würden Sie Frauen mögen.</button>
    </div>
    <div class="pure-u-1-3">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('2_1', 'buttons_4', 'klassenvorstand_gluecklich')">Ahh ok, deswegen der neue Nachname.</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_4')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death', 'clear', 'klassenvorstand_wuetend', 'death')">Ich glaube Sie haben Emma ermordet. Wieso haben Sie das getan?</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('3_1', 'clear', 'klassenvorstand_traurig', 1)">Ich wollte fragen wo Sie am Tag von Emmas Tod waren.</button>
    </div>
</div>


<img src="images/game/characters/klassenvorstand/klassenvorstand_normal.png"  ng-show="$ctrl.statuscharacter('klassenvorstand_normal')" class="characters images-responsive">
<img src="images/game/characters/klassenvorstand/klassenvorstand_verwirrt.png"  ng-show="$ctrl.statuscharacter('klassenvorstand_verwirrt')" class="characters images-responsive">
<img src="images/game/characters/klassenvorstand/klassenvorstand_wuetend.png"  ng-show="$ctrl.statuscharacter('klassenvorstand_wuetend')" class="characters images-responsive">
<img src="images/game/characters/klassenvorstand/klassenvorstand_gluecklich.png"  ng-show="$ctrl.statuscharacter('klassenvorstand_gluecklich')" class="characters images-responsive">
<img src="images/game/characters/klassenvorstand/klassenvorstand_traurig.png"  ng-show="$ctrl.statuscharacter('klassenvorstand_traurig')" class="characters images-responsive">
<img src="images/game/textbubbles/klassenvorstand/1_1.png"  ng-show="$ctrl.statusbubble('1_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/klassenvorstand/1_2.png"  ng-show="$ctrl.statusbubble('1_2')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/klassenvorstand/2_1.png"  ng-show="$ctrl.statusbubble('2_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/klassenvorstand/3_1.png"  ng-show="$ctrl.statusbubble('3_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/klassenvorstand/death.png"  ng-show="$ctrl.statusbubble('death')" class="sprechblase images-responsive">
