<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_1')">
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('death_1', 'buttons_death', 'mathe_wuetend')">
        <p class="button-question">Geben Sie zu, dass Sie Emma ermordet haben!
        <p>
    </div>
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('1_1', 'buttons_3', 'mathe_normal')">
        <p class="button-question">Guten Morgen Herr Professor, Ich habe eine Frage
        <p>
    </div>
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('1_2', 'buttons_2', 'mathe_erschtaunt')">
        <p class="button-question">Herr Professor, wir müsssen über Emma reden
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_2')">
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('1_1', 'buttons_2', 'mathe_normal')">
        <p class="button-question">Ihr Tod ist genau ein Jahr her und es beschäftigt mich
        <p>
    </div>
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('death_3', 'buttons_3', 'mathe_normal')">
        <p class="button-question">Sie haben sie umgebracht, weil Sie Angst hatten, dass die Affäre ans Licht kommt
        <p>
    </div>
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('2_1', 'buttons_4', 'mathe_wuetend')">
        <p class="button-question">Wie war die Affäre mit Emma?
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_3')">
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('death_2', 'buttons_death', 'mathe_wuetend')">
        <p class="button-question">Geben Sie zu, dass Sie Emma ermordet haben
        <p>
    </div>
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('2_1', 'buttons_4', 'mathe_verwirrt')">
        <p class="button-question">Wie war die Affäre mit Emma
        <p>
    </div>
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('2_2', 'buttons_5', 'mathe_erschtaunt')">
        <p class="button-question">Wieso haben Sie Emma so gute Noten gegeben
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_4')">
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('death_5', 'buttons_death', 'mathe_wuetend')">
        <p class="button-question">Sie haben sie umgebracht, damit es nicht auffliegt oder?
        <p>
    </div>
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('3_1', 'buttons_6', 'mathe_verwirrt')">
        <p class="button-question">Ich weiß davon, spielen Sie nicht den Dummen
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_5')">
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('2_1', 'buttons_4', 'mathe_wuetend')">
        <p class="button-question">Sie haben mit ihr geschlafen! Deswegen hat sie so gute Noten bekommen, oder?
        <p>
    </div>
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('death_4', 'buttons_death', 'mathe_wuetend')">
        <p class="button-question">Dass Sie sie umgebracht haben?
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_6')">
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('4_1', 'buttons_9', 'mathe_verwirrt', 1)">
        <p class="button-question">Haben Sie sie zum Sex gezwungen
        <p>
    </div>
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('4_2', 'buttons_7', 'mathe_normal')">
        <p class="button-question">Die guten Noten waren wegen dem Sex, richtig?
        <p>
    </div>
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('4_3', 'buttons_8', 'mathe_normal')">
        <p class="button-question">Wie ist es dazu gekommen?
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_7')">
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('4_1', 'buttons_9', 'mathe_verwirrt', 1)">
        <p class="button-question">Haben Sie sie zum Sex gezwungen?
        <p>
    </div>
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('death_5', 'buttons_death', 'mathe_wuetend')">
        <p class="button-question">Sie haben sie umgebracht, damit es nicht auffliegt, oder?
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_8')">
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('4_1', 'buttons_9', 'mathe_normal', 1)">
        <p class="button-question">Haben Sie sie zum Sex gezwungen?
        <p>
    </div>
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('4_2', 'buttons_7', 'mathe_normal')">
        <p class="button-question">So ist sie Klassenbeste in Mathe geworden, richtig?
        <p>
    </div>
    <div class="pure-u-1-3 button-div" ng-click="$ctrl.answerpressed('5_3', 'buttons_12', 'mathe_verwirrt')">
        <p class="button-question">Die Polizei wusste damals nichts davon wenn ich mich richtig zurück erinnere.
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_9')">
    <div class="pure-u-1-4 button-div" ng-click="$ctrl.answerpressed('death_6', 'buttons_death', 'mathe_wuetend')">
        <p class="button-question">Wollen Sie nicht gleich zugeben, dass Sie sie umgebracht haben?
        <p>
    </div>
    <div class="pure-u-1-4 button-div" ng-click="$ctrl.answerpressed('5_1', 'buttons_10', 'mathe_wuetend')">
        <p class="button-question">Dann gibt es noch weitere Schülerinnen?
        <p>
    </div>
    <div class="pure-u-1-4 button-div" ng-click="$ctrl.answerpressed('5_2', 'buttons_11', 'mathe_verwirrt')">
        <p class="button-question">Was wissen Sie noch?
        <p>
    </div>
    <div class="pure-u-1-4 button-div" ng-click="$ctrl.answerpressed('5_3', 'buttons_12', 'mathe_normal')">
        <p class="button-question">Wieso hat die Polizei davon nie etwas erfahren?
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_10')">
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('6_1', 'buttons_13', 'mathe_verwirrt')">
        <p class="button-question">Sie wissen doch noch mehr oder?
        <p>
    </div>
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('death_7', 'buttons_death', 'mathe_wuetend')">
        <p class="button-question">Sie dreckiges Schwein, erzählen Sie mir mehr!
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_11')">
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('5_3', 'buttons_12', 'mathe_verwirrt')">
        <p class="button-question">Wieso wusste die Polizei nichts von der Sache?
        <p>
    </div>
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('death_7', 'buttons_death', 'mathe_wuetend')">
        <p class="button-question">Sie dreckiges Schwein, erzählen Sie mir mehr!
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_12')">
    <div class="pure-u-1 button-div" ng-click="$ctrl.answerpressed('6_2', 'buttons_13', 'mathe_normal')">
        <p class="button-question">Ich verspreche, nichts zu sagen. Jedoch muss ich noch mehr wissen.
        <p>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_13')">
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('7_1', 'buttons_14', 'mathe_verwirrt')">
        <p class="button-question">Haben Sie sie geliebt
        <p>
    </div>
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('7_2', 'buttons_goodbye', 'mathe_normal', 2)">
        <p class="button-question">Egal was Ihnen noch einfällt. Alles was Sie sagen könnte wichtig sein!
        <p>
    </div>
</div>


<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_14')">
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('death_8', 'buttons_death', 'mathe_wuetend')">
        <p class="button-question">Dann reden Sie endlich
        <p>
    </div>
    <div class="pure-u-1-2 button-div" ng-click="$ctrl.answerpressed('7_2', 'buttons_goodbye', 'mathe_verwirrt',2 )">
        <p class="button-question">Dann erzählen Sie mir was Ihnen noch einfällt. Sie willen doch, dass dem wahren Mörder Gerechtigkeit widerfährt!
        <p>
    </div>
</div>




<img src="images/game/characters/mathe/Mathelehrer_Normal.png" ng-show="$ctrl.statuscharacter('mathe_normal')"
     class="characters images-responsive">
<img src="images/game/characters/mathe/Mathelehrer_Erschtaunt.png" ng-show="$ctrl.statuscharacter('mathe_erschtaunt')"
     class="characters images-responsive">
<img src="images/game/characters/mathe/Mathelehrer_Verwirrt.png" ng-show="$ctrl.statuscharacter('mathe_verwirrt')"
     class="characters images-responsive">
<img src="images/game/characters/mathe/Mathelehrer_Wuetend.png" ng-show="$ctrl.statuscharacter('mathe_wuetend')"
     class="characters images-responsive">
<img src="images/game/textbubbles/mathe/1_1.png" ng-show="$ctrl.statusbubble('1_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/1_2.png" ng-show="$ctrl.statusbubble('1_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/2_1.png" ng-show="$ctrl.statusbubble('2_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/2_2.png" ng-show="$ctrl.statusbubble('2_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/3_1.png" ng-show="$ctrl.statusbubble('3_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/4_1.png" ng-show="$ctrl.statusbubble('4_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/4_2.png" ng-show="$ctrl.statusbubble('4_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/4_3.png" ng-show="$ctrl.statusbubble('4_3')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/5_1.png" ng-show="$ctrl.statusbubble('5_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/5_2.png" ng-show="$ctrl.statusbubble('5_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/5_3.png" ng-show="$ctrl.statusbubble('5_3')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/6_1.png" ng-show="$ctrl.statusbubble('6_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/6_2.png" ng-show="$ctrl.statusbubble('6_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/7_1.png" ng-show="$ctrl.statusbubble('7_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/7_2.png" ng-show="$ctrl.statusbubble('7_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/death_1.png" ng-show="$ctrl.statusbubble('death_1')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/death_2.png" ng-show="$ctrl.statusbubble('death_2')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/death_3.png" ng-show="$ctrl.statusbubble('death_3')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/death_4.png" ng-show="$ctrl.statusbubble('death_4')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/death_5.png" ng-show="$ctrl.statusbubble('death_5')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/death_6.png" ng-show="$ctrl.statusbubble('death_6')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/death_7.png" ng-show="$ctrl.statusbubble('death_7')"
     class="sprechblase images-responsive">
<img src="images/game/textbubbles/mathe/death_8.png" ng-show="$ctrl.statusbubble('death_8')"
     class="sprechblase images-responsive">

