
<div class="container">
    <img src="images/icons/Mathe.png" alt="Avatar" style="width:100%;">
    <p>20 Uhr, bei mir. Nachhilfe? &#128536;</p>
    <span class="time-right">16:00</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Hehe, klar. Es ist eh keiner zu Hause?</p>
    <span class="time-left">16:08</span>
</div>

<div class="container">
    <img src="images/icons/Mathe.png" alt="Avatar" style="width:100%;">
    <p>Natürlich nicht, für dich nehm ich mir den ganzen Tag frei. &#128525;</p>
    <span class="time-right">16:12</span>
</div>

<div class="container">
    <img src="images/icons/Mathe.png" alt="Avatar" style="width:100%;">
    <p>Hier sind die Lösungen für die Hausübungen der nächsten zwei Wochen.</p>
    <span class="time-right">12:02</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Was, wieso? Trag einfach ein Plus bei mir ein, wozu soll ich die HÜ abschreiben.</p>
    <span class="time-left">12:12</span>
</div>

<div class="container">
    <img src="images/icons/Mathe.png" alt="Avatar" style="width:100%;">
    <p>Ich denke es ist zu offensichtlich, wenn du immer die HÜ per "Mail" abgibst. Das merken schon welche, ich wette manche reden schon darüber. Mach es einfach...für mich.</p>
    <span class="time-right">12:13</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Jaja, ok mach ich. Ich denke du bist aber zu paranoid.</p>
    <span class="time-left">12:15</span>
</div>

