<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Hallo Herr Professor, ist die HÜ heute abzugeben?</p>
    <span class="time-left">11:01</span>
</div>

<div class="container">
    <img src="images/icons/Chemie.png" alt="Avatar" style="width:100%;">
    <p>Liebe Emma, ja ist sie.</p>
    <span class="time-right">11:09</span>
</div>

<div class="container">
    <img src="images/icons/Chemie.png" alt="Avatar" style="width:100%;">
    <p>Emma, du hast immer noch nicht den Arbeitsauftrag über Blausäure abgegeben. Dies wird sich negativ auf deine Note auswirken.</p>
    <span class="time-right">17:45</span>
</div>

<div class="container darker">
    <img src="images/icons/emma.png" alt="Avatar" class="right" style="width:100%;">
    <p>Tut mir leid Herr Professor, ich hatte viel mit anderen Fächern zu tun. Ich bringe sie so schnell wie möglich zurück.</p>
    <span class="time-left">18:01</span>
</div>