
<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_1')">
    <div class="pure-u-1-3">
    <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('1_1', 'buttons_2', 'chemie_zwinker')">Hallo Herr Professor, wie war Ihr Tag heute?</button>
    </div>
    <div class="pure-u-1-3">
    <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('1_2', 'buttons_4', 'chemie_verwundert')">Würden Sie mir bitte verraten was Sie zum Todeszeitpunkt von Emma Engels gemacht haben?</button>
    </div>
    <div class="pure-u-1-3">
    <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death', 'clear', 'chemie_sauer', 'death')">Sie haben geholfen Emma Engels zu vergiften. Geben Sie es zu!</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_2')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('2_1', 'buttons_5', 'chemie_zwinker')">Wie wird eigentlich Blausäure hergestellt?</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('2_2', 'buttons_3', 'chemie_traurig')">Ich hätte eine Frage zu dem Tag an dem Emma gestorben ist</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_4')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death', 'clear', 'chemie_sauer', 'death')">Ja, dass Sie sie umgebracht haben!</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('2_2', 'buttons_3', 'chemie_traurig')">Nein, nein. ich hätte nur eine Frage zu dem Tag an dem Emma gestorben ist.</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_3')">
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death_2', 'buttons_death', 'chemie_shocked', 'death')">Wo waren Sie denn zum Zeitpunkt an dem Emma ermordet wurde?</button>
    </div>
    <div class="pure-u-1-2">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('3_1', 'buttons_goodbye', 'chemie_normal', 1)">Wie war dieser Tag für Sie?</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_goodbye')">
    <div class="pure-u-1-1">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('4_0', 'clear', 'chemie_zwinker')">Danke, Auf Wiedersehen!</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_death')">
    <div class="pure-u-1-1">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('death', 'clear', 'chemie_sauer')">Ja!</button>
    </div>
</div>

<div class="gamebuttons pure-g" ng-show="$ctrl.statusbuttons('buttons_5')">
    <div class="pure-u-1-1">
        <button class="bttn-fill bttn-md bttn-primary style" ng-click="$ctrl.answerpressed('4_0_1', 'clear', 'chemie_zwinker')">Sehr interessant...</button>
    </div>
</div>

<img src="images/game/characters/chemie/chemie_normal.png"  ng-show="$ctrl.statuscharacter('chemie_normal')" class="characters images-responsive">
<img src="images/game/characters/chemie/chemie_sauer.png"  ng-show="$ctrl.statuscharacter('chemie_sauer')" class="characters images-responsive">
<img src="images/game/characters/chemie/chemie_shocked.png"  ng-show="$ctrl.statuscharacter('chemie_shocked')" class="characters images-responsive">
<img src="images/game/characters/chemie/chemie_traurig.png"  ng-show="$ctrl.statuscharacter('chemie_traurig')" class="characters images-responsive">
<img src="images/game/characters/chemie/chemie_verwundert.png"  ng-show="$ctrl.statuscharacter('chemie_verwundert')" class="characters images-responsive">
<img src="images/game/characters/chemie/chemie_zwinker.png"  ng-show="$ctrl.statuscharacter('chemie_zwinker')" class="characters images-responsive">
<img src="images/game/textbubbles/chemie/1_1.png"  ng-show="$ctrl.statusbubble('1_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/chemie/1_2.png"  ng-show="$ctrl.statusbubble('1_2')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/chemie/2_1.png"  ng-show="$ctrl.statusbubble('2_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/chemie/2_2.png"  ng-show="$ctrl.statusbubble('2_2')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/chemie/2_2.png"  ng-show="$ctrl.statusbubble('2_3')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/chemie/3_1.png"  ng-show="$ctrl.statusbubble('3_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/chemie/4_0.png"  ng-show="$ctrl.statusbubble('4_0')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/chemie/4_0_1.png"  ng-show="$ctrl.statusbubble('4_0_1')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/chemie/death.png"  ng-show="$ctrl.statusbubble('death')" class="sprechblase images-responsive">
<img src="images/game/textbubbles/chemie/death_2.png"  ng-show="$ctrl.statusbubble('death_2')" class="sprechblase images-responsive">