<div class="pure-g">
    <div class="pure-u-9-24 iconcontact">
        <img src="images/icons/Chemie.png" style='width: 70%; height: auto' class="pure-img-responsive icon kontakticon">
    </div>

    <div class="pure-u-1-24 textcontact">
        <h1>Chemie Lehrer</h1>
    </div>
</div>

<div class="pure-g">
    <br>
    <div class="pure-u-12-24 iconcontact">
        <h3 class="eigenschafthead">Eigenschaften:</h3>
        <br>
    </div>
    <div class="pure-u-24-24 iconcontact">
        <h3 class="eigenschafttext"> - kann stundenlang reden</h3>
    </div>
    <div class="pure-u-24-24 iconcontact">
        <h3 class="eigenschafttext"> - verschlossen</h3>
    </div>
    <div class="pure-u-24-24 iconcontact">
        <h3 class="eigenschafttext"> - empfindlich</h3>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-24-24">
        <br>
    </div>
</div>

<div class="pure-g hints" style="text-align: center">
    <div class="pure-u-24-24">
        <div ng-hide="$ctrl.gethint()" class="hint--bottom hint--small hint--warning hint--bounce" data-hint="Hinweis noch nicht freigeschalten">
        <img src="images/icons/hint_closed.png" style='width: 30%; height: auto' class="pure-img-responsive buzz-out-on-hover">
        </div>
        <div ng-show="$ctrl.gethint()" class="hint--bottom hint--small hint--info hint--bounce" data-hint="War zum Zeitpunkt des Mordes nicht in der Schule">
            <img src="images/icons/hint_open.png" style='width: 30%; height: auto' class="pure-img-responsive">
        </div>
    </div>
</div>


<br>
<div style="text-align: center">
    <div class="pure-u-11-24">
        <img src="images/icons/Chat.svg" ng-click="$ctrl.clicksound();" ui-sref="ChemieChat" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24" ng-show="$ctrl.allowaccess(0)" ng-click="$ctrl.gametrigger()">
        <img src="images/icons/Map.svg" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
    <div class="pure-u-11-24 hint--top hint--small hint--error hint--bounce hint--no-shadow" ng-show="$ctrl.allowaccess(1)" data-hint="Der Chemie-Lehrer will nicht mehr mit dir reden ">
        <img src="images/icons/Map_closed.svg" style='width: 70%; height: auto' class="pure-img-responsive buzz-out-on-hover">
    </div>
    <div class="pure-u-11-24 hint--top hint--small hint--success hint--bounce hint--no-shadow" ng-show="$ctrl.allowaccess(2)" data-hint="Du hast alle Hinweise freigeschalten" ng-show="$ctrl.allowaccess(2)">
        <img src="images/icons/Map_finished.svg" style='width: 70%; height: auto' class="pure-img-responsive icon">
    </div>
</div>